[submodule "protobufs"]
	path = protobufs
	url = https://github.com/ncwn/protobufs.git
	branch = selfcius/main
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
